form {
    display: flex;
    color : white;
    flex-direction: column;
    gap : 4px;
}

#redirection-button {
    transition: 0.4s;
    font-size: 13px;
}

#redirection-button:hover {
    color: #e70101;
}

label {
    font-family: "Raleway-Bold", sans-serif;
    font-size: 16px;
}

input[type="text"], textarea {
    font-family: "Raleway-Medium", sans-serif;
    font-size: 13px;
    border: 2px solid #dcdcdc;
    padding: 13px;
    box-sizing: border-box;
    text-align: justify;
    background: rgba(255, 255, 255, 0.08);
    color: #dcdcdc;
    outline: none;
    transition: 0.2s;
}

textarea {
    line-height: 1.5;
}

input[type="text"]:focus, textarea:focus {
    border: 2px solid #e70101;
}

button {
    margin : auto;
    background: linear-gradient(108.4deg, rgb(253, 44, 56) 3.3%, rgb(176, 2, 12) 98.4%);
    color: white;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Raleway-Bold", sans-serif;
    font-size: 20px;
    transition-duration: 0.6s;
    border: none;
    width: fit-content;
}

button:hover {
    background: radial-gradient(circle at 10% 20%, rgb(221, 49, 49) 0%, rgb(119, 0, 0) 90%);
}

@media only screen and (min-height : 750px){
    form {
        gap: 12px;
    }
}

@media only screen and (min-width : 600px){
    .header {
        font-size: 16px;
    }

    #redirection-button {
        font-size: 14px;
    }
}

@media only screen and (min-width : 800px){
    #redirection-button {
        font-size: 20px;
    }

    input, textarea {
        font-size: 14px;
    }
}

@media only screen and (min-width : 1000px){

}